DATABASE_URL=sqlite:///./bluecorp.db
SECRET_KEY=change-this-to-a-random-secret-key-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=480
DEBUG=true
HABER_MINIMO_VIGENTE=370000.0
HABER_MAXIMO_VIGENTE=1480000.0
